<div id="sticky-mmenu" class="mm-fixed-top Fixed">
    <div class="mh-head">
        <span class="mh-btns-left">
            <a href="#sticky-menu"><i class="fa fa-bars" style="color:white" aria-hidden="true"></i></a>
        </span>
        <a href="/"> <img style="width:142px;height:40px" src="{{ 'logo_green.png' | asset_img_url: '2048x575' }}" /> </a>
        <span class="mh-btns-right">
            <a id="sticky-cart-button" href="#sticky-cart">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span class="notification-badge count" {% if cart.item_count == 0 %} style="display:none" {% endif %}>{{ cart.item_count }}</span>
            </a>
        </span>
    </div>
    <div class="mh-head mobile-shadow">
        <form class="mh-form search-form form-inline" action="/search" method="get">
            <input placeholder="Search" type="text" name="q" />
            <a href="#" class="fa fa-search" onclick="$(this).closest('form').submit()"></a>
        </form>
    </div>
</div>
<nav id="sticky-menu">
    <ul>
        <li><span>Account</span>
            <ul>
                {% if customer %}
                    <div>
                        <br />
                        <h3 style="padding-left:20px">{{ customer.name }}</h3>
                        <p style="padding-left:20px">{{ customer.email }}</p>
                    </div>
                    <li><a href="/account"><span>Account</span></a></li>
                    <li>{{ '<span>Log out</span>' | customer_logout_link }}</li>
                {% else %}
                    <li>{{ "<span>Login</span>" | customer_login_link }}</li>
                    <li>{{ "<span>Register</span>" | customer_register_link }}</li>
                {% endif %}
            </ul>
        </li>
        <li><span>Products</span>
            <ul>
                {% for link in linklists.products.links %}
                    <li><a href="{{ link.url }}"><span>{{ link.title }}</span></a>
                        <ul>
                            {% for childlink in linklists[link.handle].links %}
                                <li><a href="{{ childlink.url }}"><span>{{ childlink.title }}</span></a>
                                    {% comment %}
                                    <ul>
                                        {% for childlink2 in linklists.[childlink.handle].links %}
                                            <li>
                                                <a href="{{ childlink2.url }}" ><span>{{ childlink2.title }}</span></a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    {% endcomment %}
                                </li> 
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li><span>Information</span>
            <ul>
                {% for link in linklists.information.links %}
                    <li><a href="{{ link.url }}"><span>{{ link.title }}</span></a></li> 
                {% endfor %}
            </ul>
        </li>
        <li><span>Customer Service</span>
            <ul>
                {% for link in linklists.customer-service.links %}
                    <li><a href="{{ link.url }}"><span>{{ link.title }}</span></a></li> 
                {% endfor %}
            </ul>
        </li>
     </ul>
</nav>
<nav id="sticky-cart">
    <div class="wrapper-top-cart">
        <div id="mobile-cart" style="display:block">
            <!-- shopping cart -->
            <div class="no-items">
                <p>It appears that your cart is currently empty!</p>
                <!-- <p class="text-continue"><a href="javascript:void(0)">Continue Shopping</a></p> -->
            </div>
            <div class="has-items">
                <ol class="mini-products-list">
                    {% for item in cart.items %}
                    <li class="item" id="cart-item-{{item.id}}"> 
                        <a href="{{item.url}}" title="{{item.title}}" class="product-image"><img src="{{ item.image | product_img_url: 'small' }}" alt="{{item.title}}"></a>
                        <div id="product-details-{{item.product_id}}" class="product-details"> 
                            <a href="javascript:void(0)" title="Remove This Item" class="btn-remove">X</a>
                            <p class="product-name"><a href="{{item.url}}">{{ item.product.title }}</a></p>
                            <div class="cart-collateral" style="color:grey;margin-bottom:10px">
                            {% if item.product.variants.size != 0 %}
                                {% unless item.variant.title contains 'Default' %} 
                                    {{ item.variant.title }} | 
                                {% endunless %}
                            {% endif %}
                            {{item.price | money}}
                            </div>
                        </div>
                      <form action="/cart/add" method="post" enctype="multipart/form-data" data-id="{{ item.product_id }}" class="addToCartForm product-actions-{{ item.product_id }}">
                        <div class="cart-buttons-in-cart">
                          <input type="hidden" name="id" value="{{ item.id }}" />
                          <button type="submit" name="minus" class="btn-remove-cart" {% if item.quantity == 1 %} disabled {% endif %}><i class="fa fa-minus" aria-hidden="true"></i></button>
                          <input type="text" id="quantity" name="quantity" value="{{ item.quantity }}" class="add-to-cart-quantity-cart" readonly>
                          <button type="submit" name="add" class="btn-add-cart"><i class="fa fa-plus" aria-hidden="true"></i></button>                            
                        </div>
                        <div class="cart-collateral cart-line-item-price">
                          <span class="money">{{ item.line_price | money }}</span>
                        </div>
                      </form>
                    </li>
                    {% endfor %}
                </ol>
                <div class="summary-mobile">
                    <span>SUBTOTAL</span> 
                    <span class="money amount" style="float:right">{{cart.total_price | money}}</span>
                </div>
                <div class="cart-info">
                    <p>{{ settings.cart_information }}</p>
                </div>  
                {% comment %}
                {% include 'local-delivery-cart' %}

                For the special instructions to be submitted with order,
                they need to use a name attribute set to 'note'. That's case-sensitive.
                {% endcomment %}
                <div class="cart_instructions">
                  <p>Add instructions</p>
                  <textarea class="form-control" rows="1" id="cart-note" name="note">{{ cart.note }}</textarea>
                </div>
                <div class="actions">
                    <button class="btn-checkout-mobile" style="width:100%" onclick="window.location='/checkout'">Checkout</button>
                    {% comment %}<p class="text-cart"><a href="/cart">View Cart</a></p>{% endcomment %}
                </div>          
            </div>
        </div>
    </div>
</nav>
<script type="text/javascript">
$(document).ready(function(){

    $("#sticky-menu").mmenu({
        extensions: [
            "theme-white",
            "multiline",
            "pagedim-black",
            "border-none"
        ],
        navbar: {
            title: ""
        },
        navbars: [
            {
                height: 2,
                position: "top",
                content: [
                  "<a href='/'> <img style='width:142px;height:31px' src='{{ 'logo_transparent.png' | asset_img_url: '4739x1032' }}' /> </a>"
               ]
            },
            {
               position: "bottom",
               content: [
                  "{% if settings.show_twitter %} <a class='fa fa-twitter' href='{{ settings.header_social_1_twi }}'</a>{% endif %}",
                  "{% if settings.show_facebook %} <a class='fa fa-facebook' href='{{ settings.header_social_3_fcb }}'</a>{% endif %}",
                  "{% if settings.show_linkedin %} <a class='fa fa-linkedin' href='{{ settings.header_social_4_linkedin }}'</a>{% endif %}",
                  "{% if settings.show_instagram1 %} <a class='fa fa-instagram' href='{{ settings.header_social_4_instagram }}'</a>{% endif %}"
               ]
            }
        ],
        offCanvas: {
            position: "left"
        }
    });

    $("#sticky-cart").mmenu({
        extensions: [
            "theme-white",
            "multiline",
            "pagedim-black",
            "fullscreen",
            "border-full"
        ],
        navbar: {
            title: ""
        },
        navbars: [{
            position: "top",
            content: [
              "<div style='color:white'><a class='mobile-cart-close' href='#mm-0' aria-owns='mm-0'><i class='fa fa-chevron-left' aria-hidden='true'></i></a></div><div style='float:right'><a href='#' style='float:right;'><span class='carttop sticky-cart-total'> <span class='cart-total-items'><span id='cart-count' class='count'>{{ cart.item_count }}</span> </span> | <span id='cart-total' class='money amount' data-total-price='{{ cart.total_price }}'> {{ cart.total_price | money }}</span><i class='fa fa-shopping-cart' style='color:white;margin-right:5px;margin-top:1px'></i> </span></a></div>"
            ]
        }],
        offCanvas: {
            position: "right"
        }
    });

    $(".mh-head.mm-sticky").mhead({
        scroll: {
            hide: 200
        }
    });
    $(".mh-head:not(.mm-sticky)").mhead({
        scroll: false
    });

    // remove left border issue
    $(".mm-next").addClass("mm-fullsubopen");

    // change sticky cart css class
    $("#sticky-cart").find('.mm-navbars-top').addClass("mobile-shadow");

    // remove quick view class
    $('li').removeClass('sca-qv-image');

    // check spend
    var total_price = $("#cart-total").attr('data-total-price');
    if (total_price > 0 && total_price < 2000) {

        // set checkout button enablement 
        if (total_price < 2000) {
            $("#dropdown-cart").find('.btn').attr('disabled', 'disabled');
            $("#mobile-cart").find('.btn-checkout-mobile').attr('disabled', 'disabled');
        } else {
            $("#dropdown-cart").find('.btn').removeAttr('disabled');
            $("#mobile-cart").find('.btn-checkout-mobile').removeAttr('disabled');
        }

        var remaining_amount = parseFloat(2000) - parseFloat(total_price);
        var amount = Shopify.formatMoney(remaining_amount,window.formatMoney);
        var order_minimum = Shopify.formatMoney(2000,window.formatMoney);
        var spend_text = '<p class="spend-notification-text">Spend <span class="remaining-amount money">' +  amount + '</span> more to reach the order minimum of <span class ="order-minimum money">' +  order_minimum + '</span></p>';

        if ($("#sticky-cart").find('.spend-notification').length == 0 ) {
            $("#sticky-cart").find('.mm-navbar').after('<div class="spend-notification">' + spend_text + '</div>');
        }       

        if ($("#sticky-cart").find('.mm-panels').hasClass("has-spend-notification")) {
        } else {
            $("#sticky-cart").find('.mm-panels').addClass("has-spend-notification");
        }


        if ($("#sticky-cart").find('.mm-panels').hasClass("no-spend-notification")) {
            $("#sticky-cart").find('.mm-panels').removeClass("no-spend-notification");
        }
        
    // } else if (n.total_price > 2000 && n.total_price < 5000) {
 //         var remaining_amount = parseFloat(5000) - parseFloat(n.total_price);
 //         var amount = Shopify.formatMoney(remaining_amount,window.formatMoney);
 //         var spend_text = '<p class="spend-notification-text">Spend <span class="remaining-amount money">' +  amount + '</span> more to get free delivery!</span></p>';
        
    //  e("#spend-notification").html(spend_text);
    //  e("#spend-notification").show();
    } else {
        if ($("#sticky-cart").find('.mm-panels').hasClass("no-spend-notification")) {   
        } else {
            $("#sticky-cart").find('.mm-panels').addClass("no-spend-notification");
        } 

        if ($("#sticky-cart").find('.mm-panels').hasClass("has-spend-notification")) {
            $("#sticky-cart").find('.mm-panels').removeClass("has-spend-notification");
        }
    }
});
</script>