{% assign item_in_cart = false %}
{% assign item_quantity = 0 %}

{% for item in cart.items %}
  {% if item.product_id == product.id %}
    {% assign item_in_cart = true %}
    {% assign item_quantity = item.quantity %}
    {% break %}
  {% endif %}
{% endfor %}

<!-- 
    This is just a regular add product form. 
    You should be able to add any valid input fields to it 
-->
{% assign variantCount = product.variants | size %}
<form id="addToCartContainer" action="/cart/add" method="post" enctype="multipart/form-data" data-id="{{ product.id }}" class="addToCartForm product-actions-{{ product.id }}">
  
  {% if item_in_cart == true %}
    <div class="cart-buttons">
      <input type="hidden" name="id" value="{{ product.variants[0].id }}" />
      <button type="submit" name="minus" class="btn-remove-from-cart"><i class="fa fa-minus" aria-hidden="true"></i></button>
      <input type="text" id="quantity" name="quantity" value="{{ item_quantity }}" class="add-to-cart-quantity-cart" readonly>
      <button type="submit" name="add" class="btn-add-to-cart"><i class="fa fa-plus" aria-hidden="true"></i></button>
    </div>
    <div class="single-add-to-cart-button" style="display:none">
      {% if sold_out %}
        <input class="btn btn-primary addToCart add-to-cart-btn" type="submit" value="Unavailable" disabled="disabled" /> 
      {% else %} 
        {% if variantCount > 1 %}
          <input class="btn btn-primary addToCart add-to-cart-btn" type="button" onclick="window.location.href='{{product.url}}'" value="Select options" /> 
        {% else %}
          <input type="hidden" name="id" value="{{ product.variants[0].id }}" />
          <button type="submit" name="add" class="btn btn-primary addToCart add-to-cart-btn">
              <span class="addToCartText">Add to cart</span>
          </button>
        {% endif %} 
      {% endif %}
    </div>
  {% else %}
    <div class="cart-buttons" style="display:none">
      <input type="hidden" name="id" value="{{ product.variants[0].id }}" />
      <button type="submit" name="minus" class="btn-remove-from-cart"><i class="fa fa-minus" aria-hidden="true"></i></button>
      <input type="text" id="quantity" name="quantity" value="1" class="add-to-cart-quantity-cart" readonly>
      <button type="submit" name="add" class="btn-add-to-cart"><i class="fa fa-plus" aria-hidden="true"></i></button>
    </div>
    <div class="single-add-to-cart-button">
      {% if sold_out %}
        <input class="btn btn-primary addToCart add-to-cart-btn" type="submit" value="Unavailable" disabled="disabled" /> 
      {% else %} 
        {% if variantCount > 1 %}
          <input class="btn btn-primary addToCart add-to-cart-btn" type="button" onclick="window.location.href='{{product.url}}'" value="Select options" /> 
        {% else %}
          <input type="hidden" name="id" value="{{ product.variants[0].id }}" />
          <button type="submit" name="add" class="btn btn-primary addToCart add-to-cart-btn">
              <span class="addToCartText">Add to cart</span>
          </button>
        {% endif %} 
      {% endif %}
    </div>
  {% endif %}
</form>
<script type="text/javascript">
// $(document).ready(function(){

//   $(".btn-remove-from-cart").click(function(n) {
//     n.preventDefault();
//     if ($(this).attr("disabled") != "disabled") {
//       var r = $(this).parents(".product-item");
//       var i = $(r).attr("data-id");
                  
//       i = i.match(/\d+/g);
//       if (window.ajax_cart) {
                     
//         $(".product-actions-" + i).submit();
//       } else {
//         var s = $(".product-actions-" + i + " select[name=id]").val();                    
//         if (!s) {                   
//           s = $(".product-actions-" + i + " input[name=id]").val()
//         }

//         var o = $(".product-actions-" + i + " input[name=quantity]").val();
//         if (!o) {
//           o = 1
//         }

//         var quantity = o - 1;               
//         var u = $(r).find(".product-title").text();
//         var a = $(r).find(".product-grid-image img").attr("src");
//         t.doAjaxAddToCart(s, quantity, u, a)

//         if (quantity == 0) {
//           $(this).parent().hide();
//           $(this).closest('form').find('.addToCartButtons').show();
//         } 
//       }
//     }
//     return false;
//   })

// });
</script>