{% comment %}
Re-use the 'rte' class wherever you output content that was added by a merchant using
the Rich Text Editor ( 'rte' stands for rich text editor ).
Style all HTML elements in that content the same way across the board.
Use the 'rte' class in your CSS to help maintain that consistency.
Example: the h2 element should have the same size and color in: 
- product descriptions
- collection descriptions
- 'page' pages' content
- blog post
{% endcomment %}

<div class="page-scope" style="text-align:center;">
	<div class="brand-header">
		<h1>Sourcing &amp; inventory management</h1>
	</div>
	<br /><br />
	<div>
		<p>As a <strong>food supply chain specialist</strong> focusing on local products &amp; producers,</p>
	</div>
	<div>
		<p>PasarTap offers a full suite of <strong>supply &amp; inventory management services</strong> ranging from</p>
	</div>
	<div>
		<p><strong>developing inventory strategy</strong> for restaurants to <strong>managing sourcing of products &amp; services.</strong></p>
	</div>
	<br />
	<div>
		<div class="brand-header">
            <h1>Why PTWholeSale?</h1>
        </div>
        <br /><br />	
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<img src="//cdn.shopify.com/s/files/1/2168/1709/files/40-512.png?v=1511756239" alt="Trusted Network"  width="93" height="93" />       
					<h3>Trusted Network</h3>
					<p>Our <strong>trained buyers</strong> will work with suitable suppliers and products in developing a <strong>sustainable inventory</strong> and sourcing strategy for your business. </p>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<img src="//cdn.shopify.com/s/files/1/2168/1709/files/dollar-exchange-rate-usd-arrows-512.png?v=1511756353" alt="Standard Rate"  width="93" height="93" />
					<h3>Standard rate</h3>
					<p>Our delivery rate is standard throughout Klang Valley at <strong>RM10</strong> for <strong>12-24 hour</strong> turnaround time after an order is placed.  We save you hassle and time.</p>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<img src="//cdn.shopify.com/s/files/1/2168/1709/files/charIcon-pay.png?v=1511756489" alt="Flexible Payment" width="93" height="93" />       
					<h3>Flexi-payment</h3>
					<p>flexi-payment program provide credit facility for our clients. A fully integrated <strong>cashless</strong> <strong>solution</strong> for    restaurants and cafés.</p>
				</div>
			</div>
		</div>
	</div>
	<br />
	<div>
		<section class="ptwholesale-steps">
	        <div class="container"> 
          	  <div class="brand-header">
	    		<h1>What are the procedures?</h1>
	          </div>
	          <div style="padding:20px"></div>
	          <div class="grid-uniform">
				<div class="product product__product-grid-item product-item col-sm-2 item_odd step3-1 step4-1">
  					<div class="item-inner">
    					<div class="product_image-wrap item-img">    
      						<a class="product-grid-image" style="height: 208px;">
        						<img src="//cdn.shopify.com/s/files/1/2168/1709/files/ptwholesale_1.png?9280955080980759428" title="Sign Up" alt="Sign Up" width="128" height="128">  
      						</a>
    					</div>
 						<div class="box-hover"></div>  
    					<div class="color-swich"></div>
  						<div class="product_title-wrap">
      						<span>Fill up and submit the inquiry form <a href="#inquiry-form" style="padding:0px">below</a> this page.</span>
    					</div>
    				</div>
				</div>
				<div class="product product__product-grid-item product-item col-sm-2 item_odd step3-1 step4-1">
  					<div class="item-inner">
    					<div class="product_image-wrap item-img">    
      						<a class="product-grid-image" style="height: 208px;">
        						<img src="//cdn.shopify.com/s/files/1/2168/1709/files/ptwholesale_2.png?6448542473246858682" title="Receive contact" alt="Receive contact" width="128" height="128">  
      						</a>
    					</div>
 						<div class="box-hover"></div>  
    					<div class="color-swich"></div>
  						<div class="product_title-wrap">
      						<span>PasarTap will receive your request and contact you.<span>
    					</div>
    				</div>
				</div>
				<div class="product product__product-grid-item product-item col-sm-2 item_odd step3-1 step4-1">
  					<div class="item-inner">
    					<div class="product_image-wrap item-img">    
      						<a class="product-grid-image" style="height: 208px;">
        						<img src="//cdn.shopify.com/s/files/1/2168/1709/files/ptwholesale_3.png?6448542473246858682" title="Receive credentials" alt="Receive credentials" width="128" height="128">  
      						</a>
    					</div>
 						<div class="box-hover"></div>  
    					<div class="color-swich"></div>
  						<div class="product_title-wrap">
      						<span>Once your details have been verified, PasarTap will provide your login credentials.</span>
    					</div>
    				</div>
				</div>
				<div class="product product__product-grid-item product-item col-sm-2 item_odd step3-1 step4-1">
  					<div class="item-inner">
    					<div class="product_image-wrap item-img">    
      						<a class="product-grid-image" style="height: 208px;">
        						<img src="//cdn.shopify.com/s/files/1/2168/1709/files/ptwholesale_4.png?6448542473246858682" title="Login" alt="Login" width="128" height="128">  
      						</a>
    					</div>
 						<div class="box-hover"></div>  
    					<div class="color-swich"></div>
  						<div class="product_title-wrap">
      						<span><a href="/account/login" style="padding:0px">Login</a> with provided credentials.</span>
    					</div>
    				</div>
				</div>
				<div class="product product__product-grid-item product-item col-sm-2 item_odd step3-1 step4-1">
  					<div class="item-inner">
    					<div class="product_image-wrap item-img">    
      						<a class="product-grid-image" style="height: 208px;">
        						<img src="//cdn.shopify.com/s/files/1/2168/1709/files/ptwholesale_5.png?6448542473246858682" title="Shop" alt="Shop" width="128" height="128">  
      						</a>
    					</div>
 						<div class="box-hover"></div>  
    					<div class="color-swich"></div>
  						<div class="product_title-wrap">
      						<span>Search your required items, add to cart and proceed with payment.</span>
    					</div>
    				</div>
				</div>
				<div class="product product__product-grid-item product-item col-sm-2 item_odd step3-1 step4-1">
  					<div class="item-inner">
    					<div class="product_image-wrap item-img">    
      						<a class="product-grid-image" style="height: 208px;">
        						<img src="//cdn.shopify.com/s/files/1/2168/1709/files/ptwholesale_6.png?6448542473246858682" title="Receive delivery!" alt="Receive delivery!" width="128" height="128">  
      						</a>
    					</div>
 						<div class="box-hover"></div>  
    					<div class="color-swich"></div>
  						<div class="product_title-wrap">
      						<span>PasarTap delivery at your doorstep!</span>
    					</div>
    				</div>
				</div>
			  </div>
			</div>
      	</section>
	</div>
	<div>
		<div id="inquiry-form" class="brand-header">
            <h1>Inquiry Form</h1>
        </div>
        <div style="padding:20px"></div>
        <div>
        	{% form 'contact' %}

			    {% if form.posted_successfully? %}
			    	<div class="alert alert-success feedback">
			        	<p>Thanks for contacting us! We'll get back to you as soon as possible.</p>
			      	</div>
		      	{% endif %}

		      	{% if form.errors %}
		      		<div class="alert alert-warning feedback">
			        	<!-- {{ form.errors.size }} or {{ form.errors | size }} -->
			        	<p>Oops, sorry. We were unable to submit your inquiry because it contained {{ form.errors | size | pluralize: 'an error', 'a few errors' }}. Please correct the following and submit again:</p>
			        	{% for field in form.errors %}
			          		<p>The {{ field | capitalize | replace: 'Body', 'Message' }} field {{ form.errors.messages[field] }}.</p>
			        	{% endfor %}
			      	</div>
		      	{% endif %}
		   
		      	<div id="contactFormWrapper">
			    	<div class="row">
			          <div class="col-sm-4">
			            <label>Your Name:</label>
			            <input class="form-control" type="text" id="contactFormName" name="contact[name]" placeholder="Your name..." />
			          </div>
			          <div class="col-sm-4">
			            <label>Email:</label>
			            <input class="form-control" type="email" id="contactFormEmail" name="contact[email]" placeholder="Your email..." />
			          </div>
			          <div class="col-sm-4">
			            <label>Phone Number:</label>
			            <input class="form-control" type="telephone" id="contactFormTelephone" name="contact[phone]" placeholder="Your phone number..." />
			          </div>
			        </div>

			        <label>Message:</label>
			        <textarea class="form-control" rows="10" cols="75" id="contactFormMessage" name="contact[body]" placeholder="Your Message..."></textarea>

			        <div class="btn-toolbar">
			          <input type="reset" value="Clear" class="btn btn-info">
			          <input type="submit" id="contactFormSubmit" value="Send" class="btn btn-primary" />          
			        </div>
		    	</div><!-- contactWrapper -->

		  	{% endform %}
        </div>
        <br /><br />
    </div>	
    <div>
		<div class="brand-header">
            <h1>PTWholeSale Catalog</h1>
        </div>
         <br /><br />
        <div>
			<p>Click the button below to browse through our current collection of wholesale products.</p>
		</div>
		<div>
			<button type="submit" name="add" class="btn btn-primary">
            	<span class="addToCartText">Browse Collection</span>
        	</button>
    	</div>
        <br /><br />
    </div>	
</div>